<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
<title>Platform for residents of communities about us - AllyGain.com</title>
<meta name="description" content="Platform for residents of communities, users of registered community can book resources, share / utilize shared items and buy / sell items"/>
<link rel="canonical" href="https://www.allygain.com/aboutus">

<th:block th:replace="~{ag/fragments/header :: partheader}"></th:block>
</head>
<body>
<div th:replace="~{ag/fragments/navmenu :: tobarcmp}"></div>
<div th:replace="~{ag/fragments/navmenu :: headermenu}"></div>
 <main>
<div class="containerall">
<div class="trmcont bxbrd"> 
<div class="mtb"><section>
<h2>About AllyGain.com</h2>
<p>I created AllyGain.com website to help residents of residential communities. Users of a registered community can book resources, share or utilize shared items and buy or sell items within the community.</p>
<p>In the community where I live, it is very common that people wait for their turn especially at tennis, basketball or TT courts. I used to face the issue of waiting for free courts and feel uncomfortable when seeing others wait while I was playing. The feature within allygain.com allows user to reserve resources eliminates the wait times.</p>
<p> Even sharing various items within the community is usual. The feature related to sharing makes the process of sharing effortless, allowing users to track and remind borrowers.</p>
</div></div></div></main>
</body><footer th:replace="~{ag/fragments/footer :: agfooter}"></footer></html>