<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
<title>Terms of Use - allygain.com</title>
<meta name="description"
	content="Terms and conditions of allygain.com" />
<th:block th:replace="~{ag/fragments/header :: partheader}"></th:block>
</head>
<body>
<div th:replace="~{ag/fragments/navmenu :: tobarcmp}"></div>
<div th:replace="~{ag/fragments/navmenu :: headermenu}"></div>
	<main>
	<div class="containerall">
		<div class="trmcont bxbrd">
			<div class="mtb">
				<h2>Terms of Use</h2>
				<p>Below are terms and conditions of the website. By visiting
					the website or using the services offered by allygain.com you
					agree that you have read, understood and agreed to the terms of use
					and privacy policy.</p>

				<p>The website provides users a platform which allows users to book their community resources, and share items and buy or sell items within the community.</p>

				<p>allygain.com shall not be held liable for wrong information within your community and other community user postings.</p>
				<p>.</p>
				<p>Except as expressly provided in these terms of use, no part
					of the website and no content may be copied, reproduced,
					republished to any other computer, server, or website. The Website
					is protected by copyright law.</p>
				<p>
					You agree that you use website for reasonable and lawful purposes
					only, and shall not indulge in any activity that is not envisaged
					through the website.<br />
				</p>

				<p>You shall indemnify and hold harmless allygain, its owner,
					directors, and employees, from any claim or demand, or actions
					including reasonable attorneys' fees, made by any third party or
					penalty imposed due to or arising out of your breach of these terms
					of use and privacy policy, or your violation of any law, or the
					rights of a third party.</p>
				<p>In no event shall allygain be liable for any incidental,
					indirect or consequential damages of any kind in connection with
					these terms of use. We shall not be liable for third party products
					and services.</p>
				<p>allygain website is provided on an "AS IS" basis
					without warranty of any kind, express, implied, statutory or
					otherwise, including the implied warranties of title,
					non-infringement, or fitness for a particular purpose.
					allygain make no warranty that the website will meet your
					requirements and will be available without interruption or errors
					or free of viruses. allygain make no warranty that the
					results you may obtain from use of website will be accurate and any
					errors in the website will be corrected. We cannot be held
					responsible for any loss which may occur whilst using material
					derived from this website.</p>
				<p>Terms of use shall be governed by the laws of India.</p>
				<p>You may contact us for any questions at
					<a href="/contactus">contact us</a>.</p>
			</div>
		</div>
	</div>
	</main>
</body><footer th:replace="~{ag/fragments/footer :: agfooter}"></footer>
</html>