<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0"> 

<title>Shared Items - AllyGain</title>
<meta name="robots" CONTENT="noindex" />

<th:block th:replace="~{ag/fragments/header :: partheader}"></th:block>
</head>
<body>
<div th:replace="~{ag/fragments/navmenu :: tobarcmp}"></div>
<div th:replace="~{ag/fragments/navmenu :: headermenu}"></div>
<main>
<div class="containerall panel">
<div class="panel-body">

<ul class="lstln">  
<li><a href="/">Home</a></li>
<li> / Shared Items</li> 
</ul>
<hr/>
<div class="prdml"><th:block th:replace="~{ag/fragments/usersidenav :: user}"></th:block></div>

<div class="prdmr">
<hr/>


<div class="row"><div class="col-fix1">
	<div class="tnd"><div class="pdal">
	<span th:if="${status == 'u'}"><p><div class="dbsucc">Item details have been updated with the correct status.</div></p></span>
	<span th:if="${status == 'n'}"><p><div class="dbsucc">User has been notified about returning the item.</div></p></span>			 	
 	</div></div>
</div></div>

</div>
</div></div></main>
</body>
<footer th:replace="~{ag/fragments/footer :: agfooter}"></footer>
</html>